


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --background-color: #1f1f1f;
    --bug: #B1C12E;
    --dark: #4F3A2D;
    --dragon:#755EDF;
    --electric:#FCBC17;
    --fairy:#F4B1F4;
    --fighting:#D67873;
    --fire:#E73B0C;
    --flying:#A3B3F7;
    --ghost:#6060B2;
    --grass:#74C236;
    --ground:#D3B357;
    --ice:#A3E7FD;
    --normal:#C8C4BC;
    --poison:#934594;
    --psychic:#ED4882;
    --rock:#B9A156;
    --steel:#B5B5C3;
    --water:#3295F6;
}

* {
    margin: 0;
    padding: 0;
}
html{
   
    @media (min-width: 453px) {
        max-width: 453px;
        margin: 20px auto;
        border: 3px solid black;
        box-shadow: 0px 16px 15px;
    }
}

body{
    //background-color: $background-color;
    font-family: 'Permanent Marker', cursive !important;
    margin: 0;
    h1, h2, h3{
        text-align: center;
        margin: 0;
    }

}

.hidden{
    opacity: 0;
    transform: translateX(-70%);
    transition: all 0.3s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}


.pokemonDetails {


    .image_wrapper {
        position: relative;

        .bgDiv {
            position: absolute;
            width: 100%;
            height: 380px;
            //background: linear-gradient(315deg, white 58%, red 50%);
        }

        img {
            position: relative;
            width: 100%;
        }
    }


}