.home{


    .title_wrapper{
        margin-top: 80px;
        

        div{
            position: relative;

            h1 {
                    position: relative;
                    font-size: clamp(3rem, 14vw, 4rem);
                    text-shadow: 5px 4px black;
                    z-index: 1;
                    color: #ee8328;
                }
            
                img {
                    width: 100%;
                    position: absolute;
                    top: -60%;
                    z-index: 0;
                }
               
        }
       
        p{
            width: 70%;
            text-align: center;
            margin: 25% auto 70px;
            font-size: 2rem;
            color: var(--fire);
        }
    }

    .random{

        h2{
            margin-bottom: 30px;
        }
        img{
            width: 100%;
        }
    }

    .cta{
        text-align: center;
        padding: 30px;
        margin: 50px 0;
        background-color: black;
        color: #ee8328;

        button{
            border: 2px solid #ee8328;
            background: black;
            color: #ee8328;
            border-radius: 25px;
            padding: 0px 10px;
            box-shadow: 6px 5px #ee8328;
            font-family: inherit;
            margin-top: 20px;
        }
    }
}