.home{


    .title_wrapper{
        margin-top: 50px;
        
        p{
            width: 70%;
            text-align: center;
            margin: 24px auto 50px;
        }
    }

    .random{
        img{
            width: 100%;
        }
    }
}