.card_wrapper{
    width: fit-content;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-shadow: -19px 20px 38px 3px hsla(0, 0%, 0%, 0.14), -3px 20px 46px 8px hsla(0, 0%, 0%, 0.12), 0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);

    img{
       width: 100%;
    }

    p{
        position: absolute;
        color: black;
        font-size: 12px;
    }
    

    .type_wrapper{
        width: 180px;
        margin: 0 auto;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .typeBadge{
            width: 80px;
            height: 25px;
            background-color: aqua;
            text-align: center;
            border-radius: 15px;
        }
    }

}

.loading {
    color: black;
}

.link{
    text-decoration: none;
}